@import "normalize.scss";
@import "foundation.scss";
@import "fonts";
.top-bar {
	.name{
		h1{
			a{
				color:$primary-color;
				padding: 0;
			}
		}
	}
}

.top-bar-section li:not(.has-form):last-child a:not(.button) {
	padding-right: 0;
}
.ba-content {
	overflow: hidden;
	.ba-slider{
		position: relative;
		@media #{$large-up}{
			&::before,&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				height: 60px;
				background: rgba($primary-color, .5);
				width: 1000px;
			}
			&:before{
				right: 101%;
			}
			&:after{
				left: 101%;
			}
		}
	}

	.ba-slide{
		&__title{
			color: #FFF;
			padding: 0 0 10px;
			margin-bottom: 0;
		}

		&__caption{
			@media #{$medium-up}{
				margin: 30px;
				padding: 20px;
				left: 0;
				max-width: 420px;
				width: auto !important;
			}
			:last-child{
				margin-bottom: 0;
			}
		}

	}
	.ba-subslide{
		margin-top: 20px;
		a {
			width: 140px;
			height: 120px;
		}
	}
	.ba-checkout {
		margin-top: 45px;
		.row{
			.columns{
				h2{
					padding-left: 70px;
					margin-bottom: 35px;
				}
				.ba-title--items{
					background: url('../img/icon/mech.png') no-repeat;
					line-height: 26px;
					@media (max-width: 640px){
						background-size: contain;
						margin-bottom: 5px;
					}

				}
				.ba-title--check{
					background: url('../img/icon/check.png') no-repeat;
					line-height: 26px;
					@media (max-width: 640px){
						background-size: contain;
						margin-bottom: 5px;
					}
				}
				.ba-title--people{
					background: url('../img/icon/people.png') no-repeat;
					line-height: 26px;
					@media (max-width: 640px){
						background-size: contain;
						margin-bottom: 5px;
					}
				}
				p{
					color:#414141;
				}
			}
		}
	}
	.ba-recent{
		margin-top: 45px;
		.row{
			.columns{
				.ba-linefon{
					background: url('../img/Line.png') no-repeat 100% 0;
				}
				h2{
					display: inline-block;
					background: #FFF;
					margin-top: 0;
					padding-right: 20px;
					line-height: 24px;

				}
				h3 {
					color:$secondary-color;
					line-height:8px;
					margin-top: 20px;
					margin-bottom: 0;
				}
				p{
					font-family: $header-font-family;
					color:$primary-color;
					font-size:11px;
					line-height: 11px;
					margin-top: 5px;
				}
			}
		}
	}
}
.ba-footer{
	overflow: hidden;
	.ba-padding{
		padding: 20px;
		background: $primary-color;
		max-width: 940px;
		position: relative;

		@media #{$large-up}{
			&::before,&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				height: 100%;
				background: rgba($primary-color, .5);
				width: 1000px;
			}
			&:before{
				right: 101%;
			}
			&:after{
				left: 101%;
			}
		}
	}
	margin-top: 45px;
	.row{
		max-width: 940px;
		color:#f9dfd9;
		h2 {
			color:#f9dfd9;
			font-size: 20px;
		}
		a {
			color:#f9dfd9;
			opacity: 0.65;
			&:hover{
				color:#fff;
				opacity: 1;
				font-weight: 700;
			}
		}
		.ba-contact{
			a{
				display: inline-block;
				width: 30px;
				height: 30px;
				opacity: 1;
			}
			.ba-facebook{
				background: url('../img/social/socialicons.png') no-repeat 0 0;
			}
			.ba-twitter{
				background: url('../img/social/socialicons.png') no-repeat -35px 0;
			}
			.ba-email{
				background: url('../img/social/socialicons.png') no-repeat -70px 0;
			}
			.ba-rss{
				background: url('../img/social/socialicons.png') no-repeat -105px 0;
			}
			.ba-vimos{
				background: url('../img/social/socialicons.png') no-repeat -140px 0;
			}
		}
	}
}
